<h1 id="heading">Calculator</h1>
<div class="mainBox">
  <input #box (keyup.enter)="calcvalue(box.value)" class="mainWindow" type="text" oninput="this.value=this.value.replace(/[^0-9+\-*/.]/g, '').replace(/(\..*)\./g, '$1');" [(ngModel)]= "toshow" >
  <br>
  <br> 
  <div>
      <textarea name="text" id="text" cols="30" rows="10"  [(ngModel)]="history" placeholder="History" readonly></textarea>
  </div>

  <br>
  <div class="all_btns">
    <!-- 1st row -->
    <div class="fun_btns">
      <button (click)="writetoinput('+')" id="add">+</button>
      <button (click)="writetoinput('-')" id="sub">-</button>
      <button (click)="writetoinput('*')" id="mul">*</button>
      <button (click)="writetoinput('/')" id="div">/</button>
      <br>
    </div>
    <!-- 2nd row -->
    <div class="num_btns">
      <button (click)="writetoinput('1')" id="btn1">1</button>
      <button (click)="writetoinput('2')" id="btn2">2</button>
      <button (click)="writetoinput('3')" id="btn3">3</button>
      <button id="clear" (click)="clear()">CE</button>
      
    </div>
    <br>

    <!-- 3rd row -->
    <div class="num_btns">
      <button (click)="writetoinput('4')" id="btn3">4</button>
      <button (click)="writetoinput('5')" id="btn4">5</button>
      <button (click)="writetoinput('6')" id="btn5">6</button>
      <button id="back" (click)="back()">Back</button>
      
    </div>
    
    <br>

    <!-- 4th row -->
    <div class="num_btns">
      <button (click)="writetoinput('7')" id="btn7">7</button>
      <button (click)="writetoinput('8')" id="btn8">8</button>
      <button (click)="writetoinput('9')" id="btn9">9</button>
      <button id="enter" (click)="enter()">Enter</button>
    </div>

   
   
  
</div>
